.categories {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  grid-template-rows: auto;

}

.category_item {
  width: 45vw;
  height: 50vh;
}

.img-grid {
  width: 45vw;
  height: 100%;
  background-size: cover;
}

@media(max-width: 768px) {
  .categories {
    grid-template-columns: 1fr;
  }
  .category_item {
  width: 90vw;
  height: 50vh;
  }
  .img-grid {
  width: 90vw;
  height: 100%;
  background-size: cover;
}
}

// .category_item-1 {
//     grid-column-start: 1;
//     grid-column-end: 2;
//     grid-row-start: 1;
//     grid-row-end: 1;
// }

// .category_item-2 {
//     grid-column-start: 3;
//     grid-column-end: 5;
//     grid-row-start: 1;
//     grid-row-end: 3;
// }
