.banner {
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  vertical-align: center;
  // margin: 0px -350px -0px -350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner img {
  height: 300px;
  margin-top: 50px;
  margin-bottom: 30px;
}
