<%= render 'shared/navbar' %>

<div class="banner detail" style="background-image: url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611265449/_S1_0216_vwtgsh.jpg)">
</div>


<div class="container">
  <div class="block d-flex">
    <div class="imgblock">
      <%= image_tag "https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611265451/Glas_ohne_eyv5o7.jpg"%>
    </div>
    <div class="textblock">
      <h3>Auf Umwegen zum Bier</h3>
      <br>
      <p>Wuerd hier kurz eine Einleitung zm bier schreiben, das zum Brauverfahren ueberleitet.
      Aus gemälztem (geröstetem) Biogetreide, weichem Lecher Quellwasser, Hopfen aus Tettnang und Hefe entsteht Bier,
      WeizenArlbeer oder Pale Ale. 500 bis 1.000 Liter sind es pro Braugang. Wichtig ist Clemens Walch, dass das Bier
      viel Zeit zum Reifen hat: Mindestens vier Wochen lang ruht es in großen Lagerbehältern. Die Enzyme machen ihre Arbeit,
      der Zucker wird in Alkohol umgewandelt und mit jedem Tag reift auch der Geschmack. „Gut Ding braucht Weile! So ist es
      beim guten Brot, so ist es bei gutem Bier!“</p>
    </div>
  </div>

  <div class="products">
    <div class="product-box" style="background: #D19E0D">
      <div class="product" style="background-image: url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611243093/retouche_Flasche_Glas_aagwcr.png)">
        <h3 class="text-1">Pale Ale</h3>
        <h3 class="text-2">Mehr erfahren <i class="fas fa-angle-right"></i></h3>
      </div>
    </div>

    <div class="product-box" style="background: #AD8066">
      <div class="product" style="background-image: url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611243089/2_retouche_Flasche_Glas_syxflv.png)">
      </div>
      <div class="product-text">
        <h3>Pale Ale</h3>
        <h4>Mehr erfahren <i class="fas fa-angle-right"></i></h4>
        </div>
    </div>

    <div class="product-box" style="background: #8E8F90">
      <div class="product" style="background-image: url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611243093/retouche_Flasche_Glas_aagwcr.png)">
        <h3 class="text-1">Pale Ale</h3>
        <h3 class="text-2">Mehr erfahren <i class="fas fa-angle-right"></i></h3>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container align-items-center">
  <h2 class="mt-5 mb-5">Entdecke weitere Sorten</h2>
  <div class="categories align-items-center">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611243093/retouche_Flasche_Glas_aagwcr.png)">
      <h3 class="text-1">Pale Ale</h3>
      <h3 class="text-2">Mehr erfahren <i class="fas fa-angle-right"></i></h3>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611243093/retouche_Flasche_Glas_aagwcr.png)">
      <h3 class="text-1">Pale Ale</h3>
      <h3 class="text-2">Mehr erfahren <i class="fas fa-angle-right"></i></h3>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611243093/retouche_Flasche_Glas_aagwcr.png)">
      <h3 class="text-1">Pale Ale</h3>
      <h3 class="text-2">Mehr erfahren <i class="fas fa-angle-right"></i></h3>
    </div>
  </div>
</div>
 -->
