
<%= render 'shared/navbar' %>


<%= render 'shared/carousel' %>



<div class="container">
  <div class="introduction mt-5 mb-5">
    <h1>Unsere Genusswelt</h1>
    <p>Wuerd hier kurz eine Einleitung zm bier schreiben, das zum Brauverfahren ueberleitet.
    Aus gemälztem (geröstetem) Biogetreide, weichem Lecher Quellwasser, Hopfen aus Tettnang und Hefe entsteht Bier, WeizenArlbeer oder Pale Ale. 500 bis 1.000 Liter sind es pro Braugang. Wichtig ist Clemens Walch, dass das Bier viel Zeit zum Reifen hat: Mindestens vier Wochen lang ruht es in großen Lagerbehältern. Die Enzyme machen ihre Arbeit, der Zucker wird in Alkohol umgewandelt und mit jedem Tag reift auch der Geschmack. „Gut Ding braucht Weile! So ist es beim guten Brot, so ist es bei gutem Bier!“</p>
  </div>
</div>

<div class="container align-items-center">
  <div class="categories align-items-center">

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1509440159596-0249088772ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80)">
      <h2>Brot backen</h2>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611265601/zeitraum-clemens-walch-omes-bier_074_be_xudig1.jpg)">
      <h2>Uber uns</h2>
    </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611243089/_S1_0224_nmpxig.png)">
      <h2>Omes Bier</h2>
    </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611265455/gotthard_2018-64_tpyny3.jpg)">
      <h2>Geistreiche Destillate</h2>
    </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611265452/gotthard_omes_genusswelt_x2pi74.jpg)">
      <h2>Hotel Gotthard</h2>
    </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/flagged/photo-1561668038-2742fcef75d7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
      <h2>Workshops</h2>
    </div>
  </div>
</div>


</div>
