<div class="container">

  <div class="categories">
    <div class="category_item category_item-1">
      <div style="background-image: url('main-bier2.jpg')" class="category_img"></div>
    </div>
    <div class="category_item category_item-2">
       <div style="background-image: url('main-destillate.jpg')" class="category_img"></div>
    </div>
    <div class="category_item category_item-3">
      <div style="background-image: url('main-bier2.jpg')" class="category_img"></div>
    </div>
    <div class="category_item category_item-4">
       <div style="background-image: url('main-destillate.jpg')" class="category_img"></div>
    </div>
    <div class="category_item category_item-5">
      <div style="background-image: url('main-bier2.jpg')" class="category_img"></div>
    </div>
    <div class="category_item category_item-6">
       <div style="background-image: url('main-destillate.jpg')" class="category_img"></div>
    </div>
  </div>
</div>
