

<%= render 'shared/overlay' %>
<%= render 'shared/navbar' %>
<%= render 'shared/carousel' %>
<div class="container">
  <div class="introduction mt-5 mb-5">
    <h1>Unsere Genusswelt</h1>
    <p>Wuerd hier kurz eine Einleitung zm bier schreiben, das zum Brauverfahren ueberleitet.
    Aus gemälztem (geröstetem) Biogetreide, weichem Lecher Quellwasser, Hopfen aus Tettnang und Hefe entsteht Bier, WeizenArlbeer oder Pale Ale. 500 bis 1.000 Liter sind es pro Braugang. Wichtig ist Clemens Walch, dass das Bier viel Zeit zum Reifen hat: Mindestens vier Wochen lang ruht es in großen Lagerbehältern. Die Enzyme machen ihre Arbeit, der Zucker wird in Alkohol umgewandelt und mit jedem Tag reift auch der Geschmack. „Gut Ding braucht Weile! So ist es beim guten Brot, so ist es bei gutem Bier!"</p>
  </div>
  <div class="row box-size">
    <div class="col-12 col-sm-7 mb-2 pr-2">
      <div style="background-image: url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611243089/_S1_0224_nmpxig.png)" class="img-div"></div>
    </div>
    <div class="col-12 col-sm-5 border-box mb-2">
      <h3>Omes Bier</h3>
      <p>Lorem, ipsum dolor sit amet</p>
    </div>
    <div class="col-12 col-sm-5 border-box mb-2">
      <h3>Gestreiche Destillate</h3>
      <p>Lorem, ipsum dolor sit amet</p>
    </div>
    <div class="col-12 col-sm-7 mb-2 pl-2">
      <div style="background-image: url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611265455/gotthard_2018-64_tpyny3.jpg)" class="img-div"></div>
    </div>
    <div class="col-12 col-sm-7 mb-2 pr-2">
      <div style="background-image: url(https://images.unsplash.com/photo-1509440159596-0249088772ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80)" class="img-div"></div>
    </div>
    <div class="col-12 col-sm-5 border-box mb-2">
      <h3>Brot backen</h3>
      <p>Lorem, ipsum dolor sit amet</p>
    </div>
    <div class="col-12 col-sm-5 mb-2 border-box">
      <h3>Konditorei - Cafe</h3>
      <p>Lorem, ipsum dolor sit amet</p>
    </div>
    <div class="col-12 col-sm-7 mb-2 pl-2">
      <div style="background-image: url(https://images.unsplash.com/photo-1485474187873-a541e1da7c51?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80)" class="img-div"></div>
    </div>
    <div class="col-12 col-sm-7 mb-2 pr-2">
      <div style="background-image: url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611265458/speck_omes_genusswelt_vmcop5.jpg)" class="img-div"></div>
    </div>
    <div class="col-12 col-sm-5 border-box mb-2">
      <h3>Valluga Speck</h3>
      <p>Lorem, ipsum dolor sit amet</p>
    </div>
    <div class="col-12 col-sm-5 mb-2 border-box">
      <h3>Workshops</h3>
      <p>Lorem, ipsum dolor sit amet</p>
    </div>
    <div class="col-12 col-sm-7 mb-2 pl-2">
      <div style="background-image: url(https://images.unsplash.com/flagged/photo-1561668038-2742fcef75d7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)" class="img-div"></div>
    </div>
    <div class="col-12 col-sm-7 mb-2 pr-2">
      <div style="background-image: url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611265583/zeitraum-clemens-walch-omes-bier_064_be_w6vgpu.jpg)" class="img-div"></div>
    </div>
    <div class="col-12 col-sm-5 border-box mb-2">
      <h3>Uber uns</h3>
      <p>Lorem, ipsum dolor sit amet</p>
    </div>
    <div class="col-12 col-sm-5 mb-2 border-box">
      <h3>Hotel Gotthard</h3>
      <p>Lorem, ipsum dolor sit amet</p>
    </div>
    <div class="col-12 col-sm-7 mb-2 pl-2">
      <div style="background-image: url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611265452/gotthard_omes_genusswelt_x2pi74.jpg)" class="img-div"></div>
    </div>
