<div class="banner" style="background-image: url(https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611265459/OMES__q2qpqd.jpg)" class="start-img">
  <%= image_tag "https://res.cloudinary.com/dxfvu5kcy/image/upload/v1611243092/OMES_Logo_pur2_llba00.png" %>
  <%= link_to "Mehr geniessen", home_path, class:"btn-light"%>
</div>

