.categories {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 250px 250px 250px 250px 250px;
	grid-gap: 8px;
}

// @media(max-width: 768px) {
//   .categories {
//     grid-template-columns: 1fr;
//   }
//   .category_item {
//   width: 90vw;
//   height: 40vh;
//   }
//   .img-grid {
//   width: 90vw;
//   height: 100%;
//   background-size: cover;
// }
// }

.card-category {
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	color: white;
	font-size: 3rem;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(225, 225, 225, 0.3);
}

.card-category h3.text-1 {
	display: inline;
}
.card-category:hover h3.text-1 {
	display: none;
}
.card-category h3.text-2 {
	display: none;
}
.card-category:hover h3.text-2 {
	display: inline;
}

.card-category:hover {
	transition: all 1s;
	opacity: 1;
}

.card-category h3 {
	color: white;
	letter-spacing: 0.1em;
	font-family: "Abril Text" !important;
}

.item-a {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: span 1;
	justify-self: stretch;
	align-self: stretch;
}

.item-b {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
	justify-self: stretch;
	align-self: stretch;
}

.item-c {
	grid-column-start: 2;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: span 2;
	justify-self: stretch;
	align-self: stretch;
}

.item-d {
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 3;
	grid-row-end: span 2;
	justify-self: stretch;
	align-self: stretch;
}

.item-e {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: span 1;
	justify-self: stretch;
	align-self: stretch;
}

.item-f {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: span 1;
	justify-self: stretch;
	align-self: stretch;
}

.item-g {
	grid-column-start: 1;
	grid-column-end: span 3;
	grid-row-start: 5;
	grid-row-end: span 3;
	justify-self: stretch;
	align-self: stretch;
}
// .category_item-1 {
//     grid-column-start: 1;
//     grid-column-end: 2;
//     grid-row-start: 1;
//     grid-row-end: 1;
// }

// .category_item-2 {
//     grid-column-start: 3;
//     grid-column-end: 5;
//     grid-row-start: 1;
//     grid-row-end: 3;
// }
